.list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .actions button {
    position : relative;
    left: 38%;
    font: inherit;
    cursor: pointer;
    background-color: #77002e;
    color: white;
    padding: 0.5rem 1.5rem;
    border: 1px solid #77002e;
    border-radius: 4px;
    font-weight: bold;
  }
  
  .actions button:hover,
  .actions button:active {
    background-color: #a50e48;
    border-color: #a50e48;
  }

.actions h1{
  text-align: center;
}